:root {
  --primary-color: #fd951f;
  --secondary-color: #1f83fd;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: 'Roboto Mono', sans-serif;

  text-decoration: none;

  list-style: none;

  border: none;
}

html,
body {
  height: 100%;
}

body {
  background-color: #f9f9f9;
}

.all {
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 940px;

  margin: 0 auto;
}

.button {
  background-color: var(--primary-color);
  
  color: white;

  display: block;

  margin: 16px 0;
  padding: 12px 16px;

  width: 100%;

  border-radius: 4px;

  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;

  cursor: pointer;

  transition: all 200ms ease-in-out;

  /* para colocar o botao para baixo */
  align-self: flex-end;
}

.button:hover {
  background-color: #d7780b;
}

.button.delete {
  background-color: lightgrey;
}

.button.delete:hover {
  background-color: rgb(223, 62, 62);
}

.button.edit {
  background-color: var(--secondary-color);
}

.button.edit:hover {
  background-color: #065ac1;
}

